<!DOCTYPE html>
<html>
  <head>
    <!-- Load TensorFlow.js -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <!-- Load Posenet -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <canvas id="canvi"></canvas>
    <p>Predeictions per second: <span id="numPredictions"></span></p>
    <script type="text/javascript" charset="utf-8" src="/javascripts/body.js"></script>
  </body>
</html>
