<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@1.0.0"></script>
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/hull.js" charset="utf-8"></script>

    <title>Pix</title>
  </head>
  <body>
    <canvas id="canvi" width="798" height="420"></canvas>
    <p>Predeictions per second: <span id="numPredictions"></span></p>
    <script src="/javascripts/pix.js" charset="utf-8"></script>
  </body>
</html>
